<ion-content>

  <mat-list *ngIf="!scanning" cols="1">
    <table mat-table [hidden]="!cart._lineItems.length" [dataSource]="cartList" class="mat-elevation-z8">
      <ng-container matColumnDef="Item">
        <th mat-header-cell *matHeaderCellDef> Item </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="basePrice">
        <th mat-header-cell *matHeaderCellDef class="cen-align"> ea. </th>
        <td mat-cell *matCellDef="let item" class="cen-align"> {{item.basePrice | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="Qty">
        <th mat-header-cell *matHeaderCellDef class="cen-align"> Qty </th>
        <td mat-cell *matCellDef="let item" class="cen-align">
          <button mat-icon-button (click)="decreaseQty(item)">
            <mat-icon>remove</mat-icon>
          </button>
          {{item.qty}}
          <button mat-icon-button (click)="increaseQty(item)">
            <mat-icon>add</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="discount">
        <th mat-header-cell *matHeaderCellDef class="rt-align"> discount </th>
        <td mat-cell *matCellDef="let item" class="rt-align accent"> -{{item.discount | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="Price">
        <th mat-header-cell *matHeaderCellDef class="rt-align"> Price </th>
        <td mat-cell *matCellDef="let item" class="rt-align item-price"> {{item.total | currency}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="cartColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: cartColumns;"></tr>
    </table>

    <mat-list-item class="discount" [hidden]="cart.savings == 0">
      Total Savings: <span class="example-spacer"></span> <span class="accent total-savings">{{cart.savings |
        currency}}</span>
    </mat-list-item>
    <mat-list-item class="subtotal">
      Subtotal: <span class="example-spacer"></span> <span class="sub-total">{{cart.subTotal | currency}}</span>
    </mat-list-item>
  </mat-list>
  <ion-button *ngIf="!scanning" (click)="startScanning()" expand="full">scan</ion-button>
  <ion-button id="stopit" *ngIf="scanning" (click)="stopScanning()" expand="full">stop scanning</ion-button>
</ion-content>