#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content::part(scroll) {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

ion-button {
  margin: 0;
  &::part(native) {
    padding: 0;
  }
}

.mat-list-base {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.subtotal,
.discount {
  background: #333333;
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
}

ion-content {
  --background: translucent;
  .promo-details {
    mat-list-item {
      font-size: 11px;
    }
  }

  .accent {
    color: #41ec49;
  }

  table {
    width: 100%;
    .rt-align {
      text-align: right;
    }
    .cen-align {
      text-align: center;
    }
    th.mat-header-cell:first-of-type,
    td.mat-cell:first-of-type,
    td.mat-footer-cell:first-of-type {
      padding-left: 14px;
    }

    th.mat-header-cell:last-of-type,
    td.mat-cell:last-of-type,
    td.mat-footer-cell:last-of-type {
      padding-right: 14px;
    }
  }
}
