/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.example-spacer {
  flex: 1 1 auto;
}
.tbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}
.subtotal {
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
}
qr-code {
  cursor: pointer;
}

mat-drawer {
  min-width: 500px;
}
.sidebar-content {
  height: 100%;
}

.promo-form .mat-form-field {
  display: block;
}

.cta-buttons {
  display: table-cell;
  padding: 5px;
  button {
    display: inline-block;
    margin: 10px;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
