<form [formGroup]="promoForm" (ngSubmit)="onSubmit()" class="promo-form">
    <h1 mat-dialog-title>Create N4X Promotion</h1>

    <div mat-dialog-content>
        <mat-form-field appearance="standard">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name" required />
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>Description</mat-label>
            <input matInput type="text" formControlName="description" required />
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>Callout Message</mat-label>
            <input matInput type="text" formControlName="calloutMsg" />
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>Qualifying Product</mat-label>
            <mat-select required formControlName="product">
                <mat-option *ngFor="let product of data.products" [value]="product">
                    {{product.name}} - ({{product.id}})
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>Buy N number of Qualifying Product</mat-label>
            <input matInput type="number" formControlName="n" required />
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>For X amount</mat-label>
            <input matInput type="number" formControlName="x" required />
        </mat-form-field>
        <div>
            <mat-checkbox class="example-margin" formControlName="perpetual">Perpetual</mat-checkbox>
        </div>
        <mat-form-field *ngIf="!promoForm.value.perpetual" appearance="standard">
            <mat-label>Choose a start date (optional)</mat-label>
            <input matInput [matDatepicker]="startpicker" formControlName="start">
            <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
            <mat-datepicker #startpicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field *ngIf="!promoForm.value.perpetual" appearance="standard">
            <mat-label>Choose an end date (optional)</mat-label>
            <input matInput [matDatepicker]="endpicker" formControlName="end">
            <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
            <mat-datepicker #endpicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>Limit/order</mat-label>
            <input matInput type="number" formControlName="limit" required />
        </mat-form-field>
    </div>

    <mat-divider></mat-divider>

    <div mat-dialog-actions align="end">
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-button type="submit">Create</button>
    </div>
</form>