/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.example-spacer {
    flex: 1 1 auto;
}
.tbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
}
qr-code {
    cursor: pointer;
}

mat-drawer {
    min-width: 500px;
}
.sidebar-content {
    height: 100%;
}

.promo-form .mat-form-field {
    display: block;
}

.cta-buttons {
    display: table-cell;
    padding: 5px;
    button {
        display: inline-block;
        margin: 10px;
    }
}
