.promo-details {
  mat-list-item {
    font-size: 11px;
  }
}

.cart-sidenav {
  margin-top: 60px;
  position: fixed;
}

.accent {
  color: #41ec49;
}

table {
  width: 100%;
  .rt-align {
    text-align: right;
  }
  .cen-align {
    text-align: center;
  }
  th.mat-header-cell:first-of-type,
  td.mat-cell:first-of-type,
  td.mat-footer-cell:first-of-type {
    padding-left: 14px;
  }

  th.mat-header-cell:last-of-type,
  td.mat-cell:last-of-type,
  td.mat-footer-cell:last-of-type {
    padding-right: 14px;
  }
}
