<mat-toolbar fixed class="mat-elevation-z6 tbar" color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="saveStoreData()">
      <mat-icon>save</mat-icon>
      <span>Save Store Data</span>
    </button>
  </mat-menu>
  <span class="title">grocer {{title}}</span>


  <span class="example-spacer"></span>

  <button mat-icon-button (click)="drawer.toggle()" aria-label="show the minicart" matBadge="{{cart.totalItems}}"
    matBadgePosition="after" matBadgeColor="accent">
    <mat-icon>shopping_bag</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container autosize>
  <div class="sidebar-content">
    <mat-tab-group dynamicHeight animationDuration="0ms">
      <mat-grid-list cols="1" rowHeight="2:1">
        <mat-tab label="Products">
          <div class="cta-buttons">
            <button mat-raised-button (click)="createProduct()">
              <mat-icon>add</mat-icon>
              Create Product
            </button>
          </div>

          <mat-grid-list cols="5" rowHeight="1:1">

            <mat-grid-tile *ngFor="let product of storeData._products">
              <mat-grid-tile-header>
                {{product.name}}
                <span class="example-spacer"></span>
                <button mat-icon-button (click)="deleteProduct(product)">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-grid-tile-header>
              <qr-code (click)="addToCart(product)" [value]="product.id" [foreground]="'black'" [backgroundAlpha]="0"
                [size]="200" [padding]="20"></qr-code>
              <mat-grid-tile-footer>
                {{product.price | currency}}
                <span *ngIf="product.unitType == 'unit'"> / unit</span>
                <span *ngIf="product.unitType == 'weight'"> / lb</span>
              </mat-grid-tile-footer>
            </mat-grid-tile>

          </mat-grid-list>

        </mat-tab>

        <mat-tab label="Promotions">
          <div class="cta-buttons">
            <button mat-raised-button (click)="createBasePromo()">
              <mat-icon>add</mat-icon>
              Markdown Promo
            </button>

            <button mat-raised-button (click)="createBX4MPromo()">
              <mat-icon>add</mat-icon>
              Buy X for M off Promo
            </button>

            <button mat-raised-button (click)="createN4XPromo()">
              <mat-icon>add</mat-icon>
              Buy N for X Promo
            </button>
          </div>

          <mat-grid-list cols="4" rowHeight="1:1">
            <mat-grid-tile *ngFor="let promo of storeData._promos">
              <mat-grid-tile-header>
                {{promo._name}}
                <span class="example-spacer"></span>
                <button mat-icon-button (click)="deletePromo(promo)">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-grid-tile-header>
              <mat-list class="promo-details">
                <mat-list-item>
                  Description: {{promo._description}}
                </mat-list-item>
                <mat-list-item>
                  Calout msg: {{promo._calloutMsg}}
                </mat-list-item>
                <mat-list-item>
                  Product: {{promo._product.name}}
                </mat-list-item>
                <mat-list-item>
                  limit/order: {{promo._limit}}
                </mat-list-item>
              </mat-list>
            </mat-grid-tile>
          </mat-grid-list>

        </mat-tab>
      </mat-grid-list>
    </mat-tab-group>
  </div>

  <mat-drawer position="end" #drawer class="cart-sidenav" mode="side" opened="true">

    <mat-list cols="1">
      <h3 matSubheader>Checkout Cart</h3>
      <mat-list-item></mat-list-item>
      <table mat-table [hidden]="!cart._lineItems.length" [dataSource]="cartList" class="mat-elevation-z8">

        <ng-container matColumnDef="Item">
          <th mat-header-cell *matHeaderCellDef> Item </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="basePrice">
          <th mat-header-cell *matHeaderCellDef class="cen-align"> ea. </th>
          <td mat-cell *matCellDef="let item" class="cen-align"> {{item.basePrice | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="Qty">
          <th mat-header-cell *matHeaderCellDef class="cen-align"> Qty </th>
          <td mat-cell *matCellDef="let item" class="cen-align">
            <button mat-icon-button (click)="decreaseQty(item)">
              <mat-icon>remove</mat-icon>
            </button>
            {{item.qty}}
            <button mat-icon-button (click)="increaseQty(item)">
              <mat-icon>add</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="discount">
          <th mat-header-cell *matHeaderCellDef class="rt-align"> discount </th>
          <td mat-cell *matCellDef="let item" class="rt-align accent"> -{{item.discount | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="Price">
          <th mat-header-cell *matHeaderCellDef class="rt-align"> Price </th>
          <td mat-cell *matCellDef="let item" class="rt-align item-price"> {{item.total | currency}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="cartColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: cartColumns;"></tr>
      </table>

      <mat-divider></mat-divider>
      <mat-list-item class="discount" [hidden]="cart.savings > 0">
        Total Savings: <span class="example-spacer"></span> <span class="accent total-savings">{{cart.savings |
          currency}}</span>
      </mat-list-item>
      <mat-list-item class="subtotal">
        Subtotal: <span class="example-spacer"></span> <span class="sub-total">{{cart.subTotal | currency}}</span>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
</mat-drawer-container>