<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <h1 mat-dialog-title>Create Product</h1>

    <div mat-dialog-content>
        <mat-form-field appearance="standard">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name" required />
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>Price</mat-label>
            <input matInput type="number" formControlName="price" required />
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>Unit Type</mat-label>
            <mat-select required formControlName="unitType">
                <mat-option *ngFor="let type of unitTypes; let i = index" [value]="type.name">{{type.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <mat-divider></mat-divider>

    <div mat-dialog-actions align="end">
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-button type="submit">Create</button>
    </div>
</form>